.resume {
  width:768px;
  height:100%;
  font-size:16px;
  margin: 0 auto;
}
.resume {
  position: relative;
}
.resume h2 {
  font-size:28px;
}
.resume h4 {
  font-size:20px;
  margin-bottom:0;
}
.resume h5 {
  font-size:16px;
  line-height:32px;
  margin:0 auto;
}

.resume hr {
  margin: 10px 0;
  width: 100%;
}

.resume p {
  margin:0 auto;
  line-height:32px;
}
.resume a {
  position: relative;
  text-decoration: none;
  color: #222;
}
.resume a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }
.resume a:hover::before {
    visibility: visible;
    -webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform: scaleX(1);
  }


.resume ul{
  padding-left:24px;
  line-height:32px;
  margin:0 auto 16px;
}

.resume .moblie {
  position: absolute;
  float: left;
  margin-left: 300px;
  margin-top: -20px;
  width: 100px;
  height: 100px;
  background: url("moblie.png") no-repeat center / cover;
}

.resume .information {
  text-align:center;
}

.resume section {
  margin-top: 30px;
  padding: 0 40px;
}

.resume .time {
  float:right;
  color: #222;
}
